<div class="app" [ngClass]="{'is-collapsed': isCollapse, 'rtl': rtlActived}" >
    <div class="layout" [ngClass]="headerSelected">

        <div [ngClass]="sidenavSelected">
            <!-- Side Nav START  -->
            <app-side-nav></app-side-nav>
             <!-- Side Nav END -->

            <!-- Page Container START -->
            <div class="page-container">

                <!-- Top Nav START -->
                <app-header></app-header>
                <!-- Top Nav END -->

                <!-- Side Panel START  -->
                <app-side-panel></app-side-panel>	
                 <!-- Side Panel END -->

                <!-- Theme Configurator START 
                <div class="theme-configurator" [ngClass]="{'theme-config-open' : themeConfigOpen}">
                    <div class="configurator-wrapper">
                        <div class="config-header">
                            <h4 class="config-title">Config Panel</h4>
                            <button class="config-close" (click)="toggleThemeConfig()">
                                <i class="ti-close"></i>
                            </button>
                        </div>
                        <div class="config-body">
                            <div class="mrg-btm-30">
                                <p class="lead font-weight-normal">Header Color</p>
                                <div class="theme-colors {{headerTheme}}" *ngFor="let headerTheme of headerThemes">
                                    <input type="radio" id="{{headerTheme}}"  name="theme" value="{{headerTheme}}" (click)="changeHeader(headerTheme)">
                                    <label for="{{headerTheme}}"></label>
                                </div>
                            </div>
                            <div class="mrg-btm-30">
                                <p class="lead font-weight-normal">Sidebar Color</p>
                                <div class="theme-colors {{sidenavTheme}}" *ngFor="let sidenavTheme of sidenavThemes">
                                    <input type="radio" id="{{sidenavTheme}}" name="sidenav" (click)="changeSidenav(sidenavTheme)">
                                    <label for="{{sidenavTheme}}"></label>
                                </div>
                            </div>
                            <div class="mrg-btm-30">
                                <p class="lead font-weight-normal no-mrg-btm">RTL</p>
                                <div class="toggle-checkbox checkbox-inline toggle-sm mrg-top-10">
                                    <input type="checkbox" name="rtl-toogle" id="rtl-toogle" [(ngModel)]="rtlActived">
                                    <label for="rtl-toogle"></label>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
              Theme Configurator END 

                Theme Toggle Button START 
                <button class="theme-toggle btn btn-rounded btn-icon" (click)="toggleThemeConfig()">
                    <i class="ti-palette"></i>
                </button>
                 Theme Toggle Button END -->

                <!-- Content Wrapper START -->
                <div class="main-content" appNoRightClick>
                    <router-outlet></router-outlet>
                </div>    
                <!-- Content Wrapper END -->

                <!-- Footer START -->
                <app-footer></app-footer>
                <!-- Footer END -->
                
            </div>
            <!-- Page Container END -->

         </div>
    </div>    
</div>