.customInputField::placeholder {
    padding-left: 10px;
  }
  .customInputField{
    background-color: black;
    color: white;
    height: 38px;
    border-bottom: 1px solid #464646;
    padding-left: 15px;
  }