<div class="container-fluid">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-9">
            <form class="search-jobs-form">
                <div class="row ">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="input-group inputfieldscustom">
                            <span class="input-group-prepend">
                                <div class="input-group-text bg-transparent "><i class="fa fa-briefcase"
                                        aria-hidden="true"></i></div>
                            </span>
                            <input class="form-control py-2 border-left-0 border" type="text"
                                placeholder="Skills" id="example-jobtitle-input">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-2">
                        <button type="submit" class="btn  btn-md  text-white btn-search"><span
                                class="icon-search icon"></span>Search Job</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3 text-right">
            <button type="button" class="btn btn-refresh">
                <span>
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <kendo-grid #grid class="CustomGrid KendoCustomScroll GridScroll"
                    [ngClass]=" applyDynamicClass == true ? 'scrollH' : 'scrollV'" [kendoGridBinding]="filterGridData"
                    filterable="menu" [skip]="skip" [pageable]="{
                        buttonCount: buttonCount,
                        info: info,
                        type: type,
                        pageSizes: pageSizes,
                        previousNext: previousNext
                      }" [pageSize]="pageSize" (pageChange)="pageChange($event)" [reorderable]="true" [resizable]="true" [sort]="[{
                            field: 'name',
                            dir: 'asc'
                          }]" [sortable]="{
                            allowUnsort: true
                            }">
                    <kendo-grid-column field="jobTitle" title="Job title" filterable="true" sortable="true" width="100">

                        <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                            let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [extra]="false"
                                operator="contains" [filterService]="filterService">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                                <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                                <kendo-filter-eq-operator></kendo-filter-eq-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="companyName" title="Company Name" filterable="true" sortable="true"
                        width="150">
                        <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                            let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [extra]="false"
                                operator="contains" [filterService]="filterService">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                                <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                                <kendo-filter-eq-operator></kendo-filter-eq-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="jobLocation" title="Location" filterable="true" sortable="true"
                        width="70">
                        <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                            let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [extra]="false"
                                operator="contains" [filterService]="filterService">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                                <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                                <kendo-filter-eq-operator></kendo-filter-eq-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="rowInsertDate" title="Posted On" filterable="true" sortable="true"
                        width="150">
                        <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                            let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [extra]="false"
                                operator="contains" [filterService]="filterService">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                                <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                                <kendo-filter-eq-operator></kendo-filter-eq-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="postedBy" title="Posted By" filterable="true" sortable="true" width="150">
                        <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                            let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [extra]="false"
                                operator="contains" [filterService]="filterService">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                                <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                                <kendo-filter-eq-operator></kendo-filter-eq-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="appliedBy" title="Applied By" filterable="true" sortable="true"
                        width="150">
                        <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                            let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [extra]="false"
                                operator="contains" [filterService]="filterService">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                                <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                                <kendo-filter-eq-operator></kendo-filter-eq-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="appliedOn" title="Applied Date" filterable="true" sortable="true"
                        width="150">
                        <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                            let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [extra]="false"
                                operator="contains" [filterService]="filterService">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                                <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                                <kendo-filter-eq-operator></kendo-filter-eq-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="jobType" title="Type" filterable="true" sortable="true" width="100">
                        <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                            let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [extra]="false"
                                operator="contains" [filterService]="filterService">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                                <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                                <kendo-filter-eq-operator></kendo-filter-eq-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
            </div>
        </div>
    </div>
</div>