<div class="container-fluid">
    <div class="Search-from">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-2">
                <div class="allJobsLabel">
                    <span>JOBS</span>
                    <button (click)="getJobsData()" type="button" class="btn btn-refresh">
                        <span matTooltip="Refresh All" matTooltipClass="custom-tooltip">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5">
                        <ul class="ComboFields">
                            <li>
                                <div class="inputfieldscustom">
                                    <mat-form-field class="example-full-width">
                                        <mat-placeholder>Skills</mat-placeholder>
                                        <mat-icon matPrefix class="prefex-brief"><i class="fa fa-briefcase"
                                                aria-hidden="true"></i></mat-icon>
                                        <mat-select [(ngModel)]="searchQuery" multiple>
                                            <input matInput (input)="onInputChange($event.target.value)"
                                                placeholder="Search here" class="customInputField" autocomplete="off" />
                                            <perfect-scrollbar class="perfect_customscroll">
                                                <mat-option (click)="selectAll(term)"
                                                    *ngFor="let term of filteredSearchTerms" [value]="term">
                                                    {{term}}
                                                </mat-option>
                                            </perfect-scrollbar>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </li>
                            <li>
                                <button type="button" (click)="onSearch()"
                                    class="btn  btn-md  text-white btn-search"><span
                                        class="icon-search icon"></span>Search Jobs</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <kendo-grid #grid id="GridID" [kendoGridBinding]="filterGridData" [rowClass]="rowCallback"
                    class="CustomGrid GridScroll KendoCustomScroll" filterable="menu" [filter]="filter"
                    (filterChange)="filterChange($event)" [skip]="state.skip" [sort]="state.sort" [pageSize]="pageSize"
                    (pageChange)="pageChange($event)" (dataStateChange)="dataStateChange($event)" [reorderable]="true"
                    [resizable]="true" [sortable]="{allowUnsort: true}"
                    [pageable]="{ buttonCount: buttonCount, info: info, type: type, pageSizes: pageSizes, previousNext: previousNext }">
                    <kendo-grid-column field="jobID" title="No." sortable="true" width="40" filterable="false">
                        <ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex">
                            {{i+1}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="jobID" title="" sortable="true" width="40" filterable="false">
                        <ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex">
                            <div (click)="copyInputMessage(dataItem)">
                                <span>
                                    <img src="../../assets/images/menu/portable-document-format.svg"
                                        class="clicktocopy" />
                                </span>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="jobTitle" title="Job Title" sortable="true" width="250">
                        <ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex">
                            <div (click)="showPopup(dataItem)">
                                <a href="{{dataItem.jobURL}}" target="_blank">{{dataItem.jobTitle}}</a>
                            </div>
                        </ng-template>
                        <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                            let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [extra]="false"
                                operator="contains" [filterService]="filterService">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                                <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                                <kendo-filter-eq-operator></kendo-filter-eq-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="jobLocation" title="Location" sortable="true" width="175">
                        <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                            let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [extra]="false"
                                operator="contains" [filterService]="filterService">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                                <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                                <kendo-filter-eq-operator></kendo-filter-eq-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="postedOn" title="Posted On" sortable="true" width="140">
                        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                            let-filterService="filterService">
                            <filter-dropdown [isPrimitive]="true" [field]="column.field" [filterService]="filterService"
                                [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></filter-dropdown>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="appliedBy" title="Applied By" sortable="true" width="215">
                        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                            let-filterService="filterService">
                            <filter-dropdown [isPrimitive]="true" [field]="column.field" [filterService]="filterService"
                                [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></filter-dropdown>
                        </ng-template>
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <span class="font11" *ngIf="dataItem.appliedBy !== '-NA-'">{{dataItem.appliedBy}}</span>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="companyName" title="Company Name" sortable="true" width="200">
                        <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                            let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [extra]="false"
                                operator="contains" [filterService]="filterService">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                                <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                                <kendo-filter-eq-operator></kendo-filter-eq-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="postedBy" title="Posted By" sortable="true" width="125">
                        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                            let-filterService="filterService">
                            <filter-dropdown [isPrimitive]="true" [field]="column.field" [filterService]="filterService"
                                [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></filter-dropdown>
                        </ng-template>
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <span>
                                <img src="../../assets/images/postedby/{{dataItem.postedByIcon}}" class="companylogo"
                                    *ngIf="dataItem.postedByIcon !== null" />
                                {{dataItem.postedBy}}
                            </span>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="jobSearchString" title="Job Role" sortable="true"
                        width="200">
                        <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                            let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [extra]="false"
                                operator="contains" [filterService]="filterService">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                                <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                                <kendo-filter-eq-operator></kendo-filter-eq-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
            </div>
        </div>
    </div>
</div>