.input-group-prepend {
	background-color: #fff;
	.input-group-text {
		border-top: 1px solid #ced4dd;
		border-left: 1px solid #ced4dd;
		border-bottom: 1px solid #ced4dd;
		color: #888da8;
	}
}
.inputfieldscustom {
	background-color: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 106, 194, 0.2);
	box-shadow: 0 1px 4px 0 rgba(0, 106, 194, 0.2);
	#example-jobtitle-input,
	#example-location-input {
		border: 1px solid #ced4dd !important;
		border-left: none !important;
		&::placeholder {
			color: #515365;
			font-size: 12px;
		}
	}
}
.btn-search {
	padding: 10px;
	border-radius: 0px;
	background-color: #4a90e2;
	outline: 0;
	color: #fff;
	border: none;
	&:hover,
	:active,
	:visited,
	:focus {
		background-color: #4a90e2;
		outline: 0;
	}
}
// contanier search fileds & search button starts here

//pageconatiner
.page-container .main-content {
	padding: 95px 0px 0px 0px;
	min-height: calc(100vh - 40px);
}
//page contanier

//footerstarts
.content-footer .footer {
	padding: 11px 0;
	font-size: 80%;
}
