.nav-pills > li > a {
    border-radius: 3px;
    opacity: 0.75;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    color: #0a6a80;
    border: 1px solid transparent;
    padding: 8px 20px;
    width: 250px;
    text-align: center;
    background-color: lightgrey;
}
.nav-pills > li > a.active.nav-link {
    color: #0a6a80;
    background-color: #e8f1f2;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-bottom: 1px solid transparent !important;
    box-shadow: 0 14px 26px -12px rgba(232, 241, 242, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(232, 241, 242, 0.2);
}
.nav-pills > li > a:hover, .nav-pills > li > a:focus {
    background-color: lightgrey;
}
.card {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}
#myPillContent{
    margin-top: 15px;
}
.pl-5{
    padding-left: 5px !important;
}