@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-eclipse {
  position: relative;
  div {
    position: absolute;
    -webkit-animation: lds-eclipse 1s linear infinite;
    animation: lds-eclipse 1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 10px 0 0 #ff6000;
    -webkit-transform-origin: 80px 85px;
    transform-origin: 80px 85px;
  }
  width: 70px !important;
  height: 70px !important;
  -webkit-transform: translate(-35px, -35px) scale(0.35) translate(35px, 35px);
  transform: translate(-35px, -35px) scale(0.35) translate(35px, 35px);
}
// /deep/ {
//   .k-loading-pdf-mask > .k-i-loading {
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     font-size: 64px;
//     width: 70px !important;
//     height: 70px !important;
//     transform: translate(-35px, -35px) scale(0.35) translate(35px, 35px);
//     z-index: 1;
//   }
//   .k-i-loading::before {
//     position: absolute;
//     width: 160px;
//     height: 160px;
//     top: 20px;
//     left: 20px;
//     border-radius: 50%;
//     box-shadow: 0 10px 0 0 #ff6000;
//     -webkit-transform-origin: 80px 85px;
//     transform-origin: 80px 85px;
//     border: 0px;
//     margin: 0 !important;
//   }
// }
.k-loading-image {
  &::before {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 10px 0 0 #ff6000;
    -webkit-transform-origin: 80px 85px;
    transform-origin: 80px 85px;
    border: 0px;
    margin: 0 !important;
  }
  &::after {
    display: none;
  }
}
/deep/ .k-i-loading::after {
  display: none;
}