.card .card-body {
    padding: 10px 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mb-0 {
    margin-bottom: 0px;
}
.cardheight {
    height: 500px;
}
.datatableactions .mat-icon-button {
    height: auto;
    line-height: normal;
    width: auto;
  }
  .datatableactions button {
    border: 0px;
    background: transparent;
    padding: 0px;
  }
.datatableactions a {
    color: #b7b7b7 !important;
    font-size: 16px;
    padding: 0 2px;
    &:hover {
      color: #ff6000 !important;
    }
  }
  .cu_but_icon {
    border: none;
    background-color: transparent;
    height: 25px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
    svg{
      height:21px;
      width: 21px;
    }
  }
  .circleForIcon {
    border-radius: 100%;
    border: 1px solid #ff6000;
    padding: 2px;
    outline: none;
    &.text-yellow {
      border: 1px solid #ffbb2f;
      color:#ffbb2f;
      fill:#ffbb2f;
      &:hover {
        color: #ffbb2f !important;
      }
    }
    &.text-danger{
      border: 1px solid #c82333;
      color:#c82333 ;
      fill:#c82333 ;
      &:hover{
        color:#c82333 !important;
      }
    }
  }
  .mt-20{
    margin-top: 20px;
  }
  .mb-0{
    margin-bottom: 0px;
  }
  .cardheight{
    height: calc(100vh - 55px);
  }
:host/deep/ .GridScroll .k-grid-container .k-grid-content {
    max-height: calc(100vh - 185px);
}
.card .card-body {
  padding: 0px 3px;
}

.mt-1{
  margin-top: 1px !important;
}
.mr-15 {
  margin-right:15px !important;
}
.ml-5{
  margin-left: 5px !important;
}
