<div class="pb-20 pop_dialog" style="background:#ffffff;">
    <div class="swal2-icon swal2-warning pulse-warning text-center line-height50"
        *ngIf="dialogData.isSuccessErrorWarning.toLowerCase() === 'warning'">
        <div class="f-modal-alert">
            <div class="f-modal-icon f-modal-warning scaleWarning">
                <span class="f-modal-body pulseWarningIns"></span>
                <span class="f-modal-dot pulseWarningIns"></span>
            </div>
        </div>
    </div>
    <div class="swal2-icon swal2-warning pulse-warning text-center line-height50"
        *ngIf="dialogData.isSuccessErrorWarning.toLowerCase() === 'error'">
        <div class="f-modal-alert">
            <div class="f-modal-icon f-modal-error animate">
                <span class="f-modal-x-mark">
                    <span class="f-modal-line f-modal-left animateXLeft"></span>
                    <span class="f-modal-line f-modal-right animateXRight"></span>
                </span>
                <div class="f-modal-placeholder"></div>
                <div class="f-modal-fix"></div>
            </div>
        </div>
    </div>
    <div class="swal2-icon pulse-success text-center line-height50"
        *ngIf="dialogData.isSuccessErrorWarning.toLowerCase() === 'success'">
        <div class="f-modal-alert">
            <div class="f-modal-icon f-modal-success animate">
                <span class="f-modal-line f-modal-tip animateSuccessTip"></span>
                <span class="f-modal-line f-modal-long animateSuccessLong"></span>
                <div class="f-modal-placeholder"></div>
                <div class="f-modal-fix"></div>
            </div>
        </div>
    </div>
    <h2 align="center" class="font20 font500 pb-10" [innerHTML]='dialogData.bodyText'></h2>
    <div align="center" *ngIf="dialogData.isSuccessErrorWarning === '' || dialogData.isSuccessErrorWarning === null 
        || (dialogData.isSuccessErrorWarning !== 'error' && dialogData.isSuccessErrorWarning !== 'warning') 
        || dialogData.isSuccessErrorWarning.toLowerCase() === 'success'">
        <button mat-button (click)="onCloseConfirm()" class="swal2-confirm btn btn-success">OK</button>
    </div>
    <div align="center"
        *ngIf="dialogData.isSuccessErrorWarning === 'error' || dialogData.isSuccessErrorWarning === 'warning'">
        <button mat-button (click)="onCloseConfirm()" class="swal2-confirm btn btn-danger">OK</button>
    </div>
</div>