<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-left mb-20">
            <h4>Your Response:</h4>
        </div>
    </div>
    <div class="row m-auto">
        <div class="col-md-6 text-center">
            <button type="button" class="btn submittedcolor  custombtn" (click)="optionSelect(1)">Submitted</button>
        </div>
        <div class="col-md-6 text-center">
            <button type="button" class="btn notrelavent  custombtn" (click)="optionSelect(2)">Not Relavent</button>
        </div>
    </div>
</div>