<form [formGroup]="addJobRoleForm">
    <div class="row">
        <div class="col-md-8 mb5">
            <p *ngIf="!jobRoleData" class="page_title uppercase orange_clr d-inline">Add Job Role</p>
            <p *ngIf="jobRoleData && jobRoleData.jobRoleId" class="page_title uppercase orange_clr d-inline">
                Update Job Role</p>
        </div>
        <div class="col-md-4">
            <div class="PopCloseIcon cursor-pointer" (click)="close()"><i class="material-icons">x</i></div>
        </div>
    </div>
    <div class="row mt-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12 doc_name">
                    <mat-form-field class="example-full-width">
                        <mat-placeholder>Job Role </mat-placeholder>
                        <mat-placeholder class="asteriskDisplay">*</mat-placeholder>
                        <input pattern="^[A-Za-z][A-Za-z\s\-]*" matInput formControlName="jobRole" maxlength="200" />
                        <!-- <mat-error *ngIf="documentForm.controls['docName'].errors?.required">
                        {{this.appMessagesService.customRequiredMessages("document name")}}
                    </mat-error>
                    <span class="customErr"
                        *ngIf="isDocumentExists && !(documentForm.controls['docName'].errors?.required) && !(documentForm.controls['docName'].errors?.pattern)">
                        {{this.appMessagesService.appStaticMessages.Admin.DocumentNameExists}}
                    </span>
                    <mat-error *ngIf="documentForm.controls['docName'].errors?.pattern">
                        {{this.appMessagesService.customValidator("document name")}}
                    </mat-error> -->
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="container editclosewrap">
            <div class="td-actions text-right">
                <button (click)="cancel()" type="button" rel="tooltip" class="btn btn-danger btn-round btn-fab btn-sm"
                    title="">
                    <i class="material-icons">Cancel</i>
                </button>
                <button type="button" rel="tooltip" (click)="save()"
                    class="btn btn-success btn-round btn-fab btn-sm cursor-pointer">
                    <i class="material-icons">Ok</i>
                </button>
            </div>
        </div>
    </div>
</form>