.example-full-width{
    width: 100%;
}
.uppercase{
    text-transform: uppercase;
}
.title_clr{
    color:#ff6000;
    font-weight: 500;
}
.circleForIcon{
    border-radius: 50%;
    border:1px solid #000;
}