<div class="side-nav" sideBar>
    <div class="side-nav-inner">
        <div class="side-nav-logo">
            <a href="" [routerLink]="['/dashboard']">
                <div class="logo logo-dark" style="background-image: url('assets/images/logo/logo.png')"></div>
            </a>
            <div class="mobile-toggle side-nav-toggle">
                <a (click)="toggleSideNavCollapse()" href="javascript:void(0);">
                    <i class="ti-arrow-circle-left"></i>
                </a>
            </div>
        </div>
        <ul class="side-nav-menu scrollable navbarhover m-t30" id="nav">
            <li routerLinkActive="active">
                <a class="dropdown-toggle" href="" [routerLink]="['']">
                    <span class="icon-holder">
                        <svg version="1.1" id="Capa_1" height="30" width="30" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 480.006 480.006"
                            style="enable-background:new 0 0 480.006 480.006;" xml:space="preserve">
                            <g>
                                <g>
                                    <rect x="40.003" y="48.006" width="104" height="16" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect x="40.003" y="80.006" width="104" height="16" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect x="40.003" y="112.006" width="72" height="16" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect x="40.003" y="144.006" width="72" height="16" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect x="0.003" y="464.006" width="480" height="16" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M463.163,68.43l-32-64c-1.973-3.954-6.776-5.56-10.73-3.587c-0.002,0.001-0.004,0.002-0.006,0.003l-64,32
			c-3.954,1.975-5.559,6.782-3.584,10.736s6.782,5.559,10.736,3.584l46.352-23.16l-12.648,36.112
			C341.69,218.446,198.501,329.522,31.323,344.006l1.36,16C206.16,344.978,354.737,229.701,412.395,65.398l12.912-36.896
			l23.536,47.08c1.975,3.954,6.782,5.559,10.736,3.584C463.534,77.191,465.138,72.385,463.163,68.43z" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M96.003,384.006h-56c-4.418,0-8,3.582-8,8v48c0,4.418,3.582,8,8,8h56c4.418,0,8-3.582,8-8v-48
			C104.003,387.588,100.421,384.006,96.003,384.006z M88.003,432.006h-40v-32h40V432.006z" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M184.003,360.006h-56c-4.418,0-8,3.582-8,8v72c0,4.418,3.582,8,8,8h56c4.418,0,8-3.582,8-8v-72
			C192.003,363.588,188.421,360.006,184.003,360.006z M176.003,432.006h-40v-56h40V432.006z" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M272.003,320.006h-56c-4.418,0-8,3.582-8,8v112c0,4.418,3.582,8,8,8h56c4.418,0,8-3.582,8-8v-112
			C280.003,323.588,276.421,320.006,272.003,320.006z M264.003,432.006h-40v-96h40V432.006z" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M360.003,264.006h-56c-4.418,0-8,3.582-8,8v168c0,4.418,3.582,8,8,8h56c4.418,0,8-3.582,8-8v-168
			C368.003,267.588,364.421,264.006,360.003,264.006z M352.003,432.006h-40v-152h40V432.006z" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M448.003,152.006h-56c-4.418,0-8,3.582-8,8v280c0,4.418,3.582,8,8,8h56c4.418,0,8-3.582,8-8v-280
			C456.003,155.588,452.421,152.006,448.003,152.006z M440.003,432.006h-40v-264h40V432.006z" />
                                </g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                        </svg>
                    </span>
                    <span class="title">DASHBOARD</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a class="dropdown-toggle"  [routerLink]="['/jobs']">
                    <span class="icon-holder">
                        <svg xmlns="http://www.w3.org/2000/svg" id="_x31__px" enable-background="new 0 0 24 24"
                            height="30" viewBox="0 0 24 24" width="30">
                            <g>
                                <path
                                    d="m10.38 21h-7.88c-1.378 0-2.5-1.121-2.5-2.5v-16c0-1.379 1.122-2.5 2.5-2.5h12c1.378 0 2.5 1.121 2.5 2.5v7.03c0 .276-.224.5-.5.5s-.5-.223-.5-.5v-7.03c0-.827-.673-1.5-1.5-1.5h-12c-.827 0-1.5.673-1.5 1.5v16c0 .827.673 1.5 1.5 1.5h7.88c.276 0 .5.224.5.5s-.224.5-.5.5z"
                                    data-original="#000000" class="active-path" fill="#000000" />
                                <path
                                    d="m13.5 9h-10c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h10c.276 0 .5.224.5.5s-.224.5-.5.5z"
                                    data-original="#000000" class="active-path" fill="#000000" />
                                <path
                                    d="m9.5 13h-6c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h6c.276 0 .5.224.5.5s-.224.5-.5.5z"
                                    data-original="#000000" class="active-path" fill="#000000" />
                                <path d="m8.5 5h-5c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h5c.276 0 .5.224.5.5s-.224.5-.5.5z"
                                    data-original="#000000" class="active-path" fill="#000000" />
                                <path
                                    d="m17 22c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5zm0-9c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4z"
                                    data-original="#000000" class="active-path" fill="#000000" />
                                <path
                                    d="m23.5 24c-.128 0-.256-.049-.354-.146l-3.318-3.318c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.318 3.318c.195.195.195.512 0 .707-.097.097-.225.146-.353.146z"
                                    data-original="#000000" class="active-path" fill="#000000" />
                            </g>
                        </svg>
                    </span>
                    <span class="title">JOBS</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a class="dropdown-toggle" href="" [routerLink]="['/jobsearchdata']">
                    <span class="icon-holder">
                        <svg id="_x31_" enable-background="new 0 0 24 24" height="30" viewBox="0 0 24 24" width="30"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="m11.894 24c-.131 0-.259-.052-.354-.146-.118-.118-.17-.288-.137-.451l.707-3.535c.02-.098.066-.187.137-.256l7.778-7.778c.584-.584 1.537-.584 2.121 0l1.414 1.414c.585.585.585 1.536 0 2.121l-7.778 7.778c-.069.07-.158.117-.256.137l-3.535.707c-.032.006-.065.009-.097.009zm1.168-3.789-.53 2.651 2.651-.53 7.671-7.671c.195-.195.195-.512 0-.707l-1.414-1.414c-.195-.195-.512-.195-.707 0zm2.367 2.582h.01z" />
                            <path
                                d="m9.5 21h-7c-1.379 0-2.5-1.121-2.5-2.5v-13c0-1.379 1.121-2.5 2.5-2.5h2c.276 0 .5.224.5.5s-.224.5-.5.5h-2c-.827 0-1.5.673-1.5 1.5v13c0 .827.673 1.5 1.5 1.5h7c.276 0 .5.224.5.5s-.224.5-.5.5z" />
                            <path
                                d="m16.5 12c-.276 0-.5-.224-.5-.5v-6c0-.827-.673-1.5-1.5-1.5h-2c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h2c1.379 0 2.5 1.121 2.5 2.5v6c0 .276-.224.5-.5.5z" />
                            <path
                                d="m11.5 6h-6c-.827 0-1.5-.673-1.5-1.5v-2c0-.276.224-.5.5-.5h1.55c.232-1.14 1.243-2 2.45-2s2.218.86 2.45 2h1.55c.276 0 .5.224.5.5v2c0 .827-.673 1.5-1.5 1.5zm-6.5-3v1.5c0 .275.225.5.5.5h6c.275 0 .5-.225.5-.5v-1.5h-1.5c-.276 0-.5-.224-.5-.5 0-.827-.673-1.5-1.5-1.5s-1.5.673-1.5 1.5c0 .276-.224.5-.5.5z" />
                            <path
                                d="m13.5 9h-10c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h10c.276 0 .5.224.5.5s-.224.5-.5.5z" />
                            <path
                                d="m13.5 12h-10c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h10c.276 0 .5.224.5.5s-.224.5-.5.5z" />
                            <path
                                d="m13.5 15h-10c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h10c.276 0 .5.224.5.5s-.224.5-.5.5z" />
                        </svg>
                    </span>
                    <span class="title">JOB ROLES</span>
                </a>
            </li>
        </ul>
        <div class='logoutbtn'>
            <ul class="side-nav-menu_profile navbarhover" id="logoutbtn" (click)="logout()">
                <li clas="nav-item user-profile">
                    <div class="card_profile card_profile_logout">
                        <span class="icon-holder">
                            <svg width="18px" height="18px" viewBox="0 0 1024 1024" class="sc-13tn5xx-0 ehbVbe">
                                <path fill="#13292d" color="#13292d"
                                    d="M426.667 896h-213.333c-25.6 0-42.667-17.067-42.667-42.667v-682.667c0-25.6 17.067-42.667 42.667-42.667h213.333c25.6 0 42.667-17.067 42.667-42.667s-17.067-42.667-42.667-42.667h-213.333c-72.533 0-128 55.467-128 128v682.667c0 72.533 55.467 128 128 128h213.333c25.6 0 42.667-17.067 42.667-42.667s-17.067-42.667-42.667-42.667z M934.4 529.067c4.267-8.533 4.267-21.333 0-34.133-4.267-4.267-4.267-8.533-8.533-12.8l-170.667-170.667c-17.067-17.067-42.667-17.067-59.733 0s-17.067 42.667 0 59.733l98.133 98.133h-409.6c-25.6 0-42.667 17.067-42.667 42.667s17.067 42.667 42.667 42.667h409.6l-98.133 98.133c-17.067 17.067-17.067 42.667 0 59.733 8.533 8.533 21.333 12.8 29.867 12.8s21.333-4.267 29.867-12.8l170.667-170.667c4.267-4.267 8.533-8.533 8.533-12.8z"
                                    class="sc-13tn5xx-1 bYEgBO"></path>
                            </svg>
                        </span>
                        <span class="title">Logout</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class='Profile_button'>
            <ul class="side-nav-menu_profile   navbarhover">
                <li clas="nav-item user-profile">
                    <div class="card_profile">
                        <span class="icon-holder profileIcons">
                            {{user.profile.name.substr(0,1)}}
                        </span>
                        <span class="title">{{user.profile.name}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>