/*---------------------------------------------------------------------------
  Template: Espire - Angular Web App Admin Template
  Author: Theme_Nate
----------------------------------------------------------------------------*/

@import "mixins"; // Mixins
@import "variables"; // Variables

/*---------------------------------
-------------- common -------------
---------------------------------*/
@import "common/general"; //                 general
@import "common/helpers"; //                 helpers
@import "common/side-nav"; //                side-nav
@import "common/side-panel"; //              side-panel
@import "common/header"; //                  header
@import "common/footer"; //                  footer
@import "common/page-container"; //          page-container
@import "common/widgets"; //                 widgets
@import "common/rtl"; //                     rtl
@import "common/themes"; //                  themes
@import "common/theme-configurator"; //      theme-configurator

/*---------------------------------
------------ plugins -------------
---------------------------------*/
@import "plugins/slick"; //                  slick
@import "plugins/nouislider"; //             nouislider
@import "plugins/ng-select"; //              ng-select
@import "plugins/toasty"; //                 toasty
@import "plugins/datatables"; //             datatables
@import "plugins/datepicker"; //             datepicker
@import "plugins/summernote"; //             summernote
@import "plugins/nvd3"; //                   nvd3
@import "plugins/rickshaw"; //               rickshaw
@import "plugins/sparkline"; //              sparkline

/*---------------------------------
------------ elements -------------
---------------------------------*/
@import "elements/buttons"; //               buttons
@import "elements/modal"; //                 modal
@import "elements/form"; //                  form
@import "elements/list"; //                  list
@import "elements/label"; //         		 label
@import "elements/card"; //                  card
@import "elements/page-title"; //            page title
@import "elements/breadcrumb"; //            breadcrumb
@import "elements/dropdown"; //              dropdown
@import "elements/chat"; //                  chat
@import "elements/todo"; //                  todo
@import "elements/tabs"; //                  tabs
@import "elements/accordion"; //             accordion
@import "elements/noticfication"; //         noticfication
@import "elements/progress-bar"; //          progress bar
@import "elements/tables"; //   	         tables
@import "elements/wizard"; //   	         wizard
@import "elements/maps"; //   	   	         maps
@import "elements/authentication"; //        authentication
@import "elements/icons"; //                 icons

/*---------------------------------
-------------- apps ---------------
---------------------------------*/
@import "apps/calendar"; //                  calendar
@import "apps/email"; //                     email
@import "apps/social"; //                    social
@import "apps/gallery"; //                   gallery
@import "apps/task"; //                      task
@import "apps/kendo-grid.scss"; //            kendo-grid
@import "apps/kendo.scss"; //

/*.jqx-button
{
	background: none !important;
	cursor: pointer !important;
	color:#FFF !important;
	font-weight: bold !important;
}
.green .jqx-button
{
	
	color:#000 !important;
	
}*/
.yellow .jqx-button {
	color: #000 !important;
}
.green:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected),
.jqx-widget .green:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
	color: #000;
	background-color: #fff099;
}

.yellow:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected),
.jqx-widget .yellow:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
	color: #000;
	background-color: #ff9a9a;
}
.green a,
.yellow a {
	color: #000 !important;
}
.yellow .jqx-fill-state-normal {
	background: none;
}
.green .jqx-fill-state-normal {
	background: none;
}

//sidenavbar  starts here
.side-nav {
	.side-nav-inner {
		.side-nav-logo {
			background-color: #fff;
		}
		.icon-holder {
			img {
				height: 30px;
				width: 30px;
				border-radius: 50%;
			}
		}
	}
}
.side-nav .side-nav-inner .side-nav-menu li a {
	box-shadow: rgba(255, 255, 255, 0.25) 0px -1px 0px inset;
	color: #fff;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 1px;
	&:hover,
	:focus,
	:active,
	:visited {
		text-decoration: none;
		color: rgb(10, 175, 196);
		background-color: rgb(8, 42, 61);
		svg path {
			fill: rgb(10, 175, 196);
		}
	}
}
.side-nav .side-nav-inner .side-nav-menu {
	border-right: none;
}

@media only screen and (max-width: 1440px) and (min-width: 992px) {
	.side-nav:hover {
		width: 175px;
	}
}
.side-nav {
	background-color: rgb(11, 57, 84);
}
.side-nav .side-nav-inner .side-nav-menu {
	height: calc(100vh - 21%);
}
//sidenavbar ends here

// contanier search fileds & search button starts here
.input-group-prepend {
	background-color: #fff;
	.input-group-text {
		border-top: 1px solid #ced4dd;
		border-left: 1px solid #ced4dd;
		border-bottom: 1px solid #ced4dd;
		color: #888da8;
	}
}
.inputfieldscustom {
	background-color: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 106, 194, 0.2);
	box-shadow: 0 1px 4px 0 rgba(0, 106, 194, 0.2);
	#example-jobtitle-input,
	#example-location-input {
		border: 1px solid #ced4dd !important;
		border-left: none !important;
		&::placeholder {
			color: #515365;
			font-size: 12px;
		}
	}
}
.btn-search {
	padding: 10px;
	border-radius: 0px;
	background-color: rgb(10, 106, 128);
	outline: 0;
	color: #fff;
	border: none;
	border-radius: 3px;
	transition: all 100ms ease 0s;
	margin-bottom: 0px;
	margin-right: 0px;
	&:hover,
	:active,
	:visited,
	:focus {
		background-color: rgb(10, 106, 128);
		outline: 0;
	}
}
.btn-post {
	border-radius: 3px;
	transition: all 100ms ease 0s;
	padding: 8px;
	border-radius: 0px;
	background-color: rgb(10, 106, 128);
	outline: 0;
	color: #fff;
	border: none;
	font-size: 12px;
	font-weight: 500;
	border-radius: 3px;
	&:hover,
	:active,
	:visited,
	:focus {
		background-color: rgb(10, 106, 128);
		outline: 0;
	}
}
.btn-refresh {
	background-color: rgb(232, 241, 242);
	color: rgb(83, 83, 83);
	line-height: 1;
	color: #000;
	text-align: center;
	white-space: nowrap;
	-webkit-appearance: none;
	user-select: none;
	cursor: pointer;
	margin-bottom: 0px;
    margin-right: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(229, 229, 229, 0.6);
	border-radius: 3px;
	transition: all 100ms ease 0s;
	padding: 12px;
	border: none;
}
.Newtablinks {
	a {
		color: rgb(11, 116, 140);
		font-size: 14px;
		cursor: pointer;
	}
	.seperation {
		margin-left: 2rem;
		&:hover,
		:active,
		:focus,
		:visited {
			color: rgb(11, 116, 140);
			cursor: pointer;
		}
	}
}
// contanier search fileds & search button starts here

//pageconatiner
.allJobsLabel {
	color: rgb(19, 41, 45);
	font-size: 18px;
	line-height: 1;
	font-weight: 600;
	margin: auto;
	svg {
		margin-right: 10px;
		path {
			fill: #0aafc4;
		}
	}
	span {
		vertical-align: middle;
	}
}
.page-container .main-content {
	padding: 10px 0px 0px 0px;
	min-height: calc(100vh - 40px);
}
//page contanier

// porgressbar for loader starts here
.pace .pace-progress {
	background-color: #0a6a80;
}
// progressbar for loader ends here

//footerstarts
.content-footer .footer {
	padding: 11px 0;
	font-size: 80%;
}
.content-footer {
	padding: 0px;
}
//footerends

//custom style
.mb-10 {
	margin-bottom: 10px;
}
.mt-10 {
	margin-top: 10px;
}

//custom style


.CustomGrid .k-pager-wrap kendo-pager-numeric-buttons ul.k-pager-numbers li .k-link {
	border-radius: 50%;
}
.k-pager-nav {
	&:focus {
		box-shadow: none;
		color: #ff6000 !important;
	}
	&:hover {
		background-color: transparent;
	}
}
.CustomGrid .k-grid-header th {
    border-right: 1px solid #f3f3f3 !important;
    border-bottom: 1px solid #f3f3f3;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #069;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}
.k-grid-content, .k-grid-content-locked, .k-pager-wrap {
    white-space: normal;
	overflow-y: hidden;
}
 div.k-grid-header {
    padding: 0px !important;
}