<div class="pb-20 pop_dialog" style="background:#ffffff;">
  <div class="swal2-icon swal2-warning pulse-warning text-center line-height50" style="display: block;">
    <div class="f-modal-alert">
      <div class="f-modal-icon f-modal-warning scaleWarning">
          <span class="f-modal-body pulseWarningIns"></span>
          <span class="f-modal-dot pulseWarningIns"></span>
      </div>
  </div>
  </div>
  <img class="swal2-image" style="display: none;">
  <h2 class="font20 font500 text-center pb-10">{{dialogData.bodyText}}</h2>
  <div  *ngIf="dialogData.isConfirmCancel" class="text-center">
    <button type="button" (click)="onCloseConfirm()" class="btn btn-success btn-sm btn-custom">Confirm</button>
<button type="button" (click)="onCloseCancel()" class="btn btn-danger btn-sm btn-custom">Cancel</button>
  </div>
  <div  *ngIf="!dialogData.isConfirmCancel">
    <button  type="button" (click)="onCloseConfirm()" class="btn btn-danger btn-sm btn-custom">Ok</button>
  </div>
</div>