<div class="container-fluid">
    <div class="Search-from">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6">
                <ul class="list-inline firstmenubar">
                    <li class="list-inline-item">
                        <div class="allJobsLabel">
                            <span>JOBS</span>
                            <!-- <button (click)="getJobsData()" type="button" class="btn btn-refresh">
                                <span matTooltip="Refresh All" matTooltipClass="custom-tooltip">
                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                </span>
                            </button> -->
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div *ngIf="leaderBoardDetails">
                            <div class="dropdown">
                                <button (click)="getLeaderBoard()" class="btn btn-default dropdown-toggle Dropdownbtn"
                                    type="button" data-toggle="dropdown">
                                    <table class="mainTable">
                                        <tbody>
                                            <tr>
                                                <td class="lable_header">Today</td>
                                                <td class="valuecount">
                                                    {{daySubmissions}}</td>
                                                <td [ngClass]="(dailyRank <= 5) ? 'greencolor' : (dailyRank > 5 && dailyRank <=10 ? 'orangecolor' : 'pastelred')"
                                                    class="valuecount">
                                                    {{dailyRank}}</td>
                                            </tr>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th class="subheading">Subs</th>
                                                <th class="subheading">Rank</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </button>
                                <div class="dropdown-menu" style="width: 260px;">
                                    <h5>Today Leader Board</h5>
                                    <table class="customtable">
                                        <thead>
                                            <tr>
                                                <th class="name">Name</th>
                                                <th class="subs">Subs</th>
                                                <th class="Rank">Rank</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let detail of leaderBoardDetails.dayDetails">
                                                <td class="name">{{detail.name}}</td>
                                                <td class="subs">{{detail.submissions}}</td>
                                                <td class="Rank">{{detail.rank}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div *ngIf="leaderBoardDetails">
                            <div class="dropdown">
                                <button (click)="getLeaderBoard()" class="btn btn-default dropdown-toggle Dropdownbtn"
                                    type="button" data-toggle="dropdown">
                                    <table class="mainTable">
                                        <tbody>
                                            <tr>
                                                <td class="lable_header">This Week</td>
                                                <td class="valuecount">
                                                    {{weekSubmissions}}</td>
                                                <td [ngClass]="(weeklyRank <= 5) ? 'greencolor' : ((weeklyRank > 5 && weeklyRank <=10) ? 'orangecolor' : 'pastelred')"
                                                    class="valuecount">
                                                    {{weeklyRank}}</td>
                                            </tr>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th class="subheading">Subs</th>
                                                <th class="subheading">Rank</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </button>
                                <div class="dropdown-menu" style="width: 260px;">
                                    <h5>This Week Leader Board</h5>
                                    <table class="customtable">
                                        <thead>
                                            <tr>
                                                <th class="name">Name</th>
                                                <th class="subs">Subs</th>
                                                <th class="Rank">Rank</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let detail of leaderBoardDetails.weekDetails">
                                                <td class="name">{{detail.name}}</td>
                                                <td class="subs">{{detail.submissions}}</td>
                                                <td class="Rank">{{detail.rank}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="ComboFields">
                    <li></li>
                    <li>
                        <div class="inputfieldscustom">
                            <mat-form-field class="example-full-width">
                                <mat-placeholder>Consultants</mat-placeholder>
                                <mat-icon matPrefix class="prefex-brief"><i class="fa fa-briefcase"
                                        aria-hidden="true"></i></mat-icon>
                                <mat-select [(ngModel)]="searchQuery" multiple panelClass="Jobsdropdown">
                                    <input matInput (input)="onInputChange($event.target.value)"
                                        placeholder="Search here" class="customInputField" autocomplete="off" />
                                    <perfect-scrollbar class="perfect_customscroll">
                                        <mat-option (click)="selectAll(obj.consultantId)"
                                            *ngFor="let obj of consultantsList" [value]="obj.consultantId">
                                            {{obj.consultantName}}
                                        </mat-option>
                                    </perfect-scrollbar>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </li>
                    <li>
                        <!-- <button type="button" (click)="onSearch()" mat-raised-button
                            class="btn  btn-md  text-white btn-search">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                                </svg>
                        </button> -->
                        <button mat-raised-button type="submit"
                        class="btn btn-white btn-round btn-just-icon CustomBtn" 
                        (click)="onSearch()">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <div class="ripple-container"></div>
                    </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <kendo-grid #grid id="GridID" [kendoGridBinding]="filterGridData" [rowClass]="rowCallback"
                        class="CustomGrid GridScroll KendoCustomScroll customRowcolor" filterable="menu"
                        [filter]="filter" (filterChange)="filterChange($event)" [skip]="state.skip" [sort]="state.sort"
                        [pageSize]="pageSize" (pageChange)="pageChange($event)"
                        (dataStateChange)="dataStateChange($event)" [reorderable]="true" [resizable]="true"
                        [sortable]="{allowUnsort: true}"
                        [pageable]="{ buttonCount: buttonCount, info: info, type: type, pageSizes: pageSizes, previousNext: previousNext }">
                        <kendo-grid-column field="jobID" title="No." sortable="true" width="40" filterable="false">
                            <ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex">
                                {{i+1}}
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="jobID" title="" sortable="true" width="40" filterable="false">
                            <ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex">
                                <div (click)="copyInputMessage(dataItem)">
                                    <span>
                                        <img src="../../assets/images/menu/portable-document-format.svg"
                                            class="clicktocopy" />
                                    </span>
                                </div>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="jobTitle" title="Job Title" sortable="true" width="250">
                            <ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex">
                                <div (click)="showPopup(dataItem)">
                                    <a href="{{dataItem.jobURL}}" target="_blank">{{dataItem.jobTitle}}</a>
                                </div>
                            </ng-template>
                            <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                                let-filterService="filterService">
                                <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [extra]="false"
                                    operator="contains" [filterService]="filterService">
                                    <kendo-filter-contains-operator></kendo-filter-contains-operator>
                                    <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                                    <kendo-filter-eq-operator></kendo-filter-eq-operator>
                                </kendo-grid-string-filter-menu>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="jobLocation" title="Location" sortable="true" width="175">
                            <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                                let-filterService="filterService">
                                <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [extra]="false"
                                    operator="contains" [filterService]="filterService">
                                    <kendo-filter-contains-operator></kendo-filter-contains-operator>
                                    <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                                    <kendo-filter-eq-operator></kendo-filter-eq-operator>
                                </kendo-grid-string-filter-menu>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="postedOn" title="Posted On" sortable="true" width="140">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                let-filterService="filterService">
                                <filter-dropdown [isPrimitive]="true" [field]="column.field"
                                    [filterService]="filterService" [currentFilter]="filter"
                                    [data]="distinctPrimitive(column.field)"></filter-dropdown>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="appliedBy" title="Applied By" sortable="true" width="215">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                let-filterService="filterService">
                                <filter-dropdown [isPrimitive]="true" [field]="column.field"
                                    [filterService]="filterService" [currentFilter]="filter"
                                    [data]="distinctPrimitive(column.field)"></filter-dropdown>
                            </ng-template>
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <span class="font11" *ngIf="dataItem.appliedBy !== '-NA-'">{{dataItem.appliedBy}}</span>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="companyName" title="Company Name" sortable="true" width="200">
                            <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                                let-filterService="filterService">
                                <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [extra]="false"
                                    operator="contains" [filterService]="filterService">
                                    <kendo-filter-contains-operator></kendo-filter-contains-operator>
                                    <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                                    <kendo-filter-eq-operator></kendo-filter-eq-operator>
                                </kendo-grid-string-filter-menu>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="postedBy" title="Posted By" sortable="true" width="125">
                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                                let-filterService="filterService">
                                <filter-dropdown [isPrimitive]="true" [field]="column.field"
                                    [filterService]="filterService" [currentFilter]="filter"
                                    [data]="distinctPrimitive(column.field)"></filter-dropdown>
                            </ng-template>
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <span>
                                    <img src="../../assets/images/postedby/{{dataItem.postedByIcon}}"
                                        class="companylogo" *ngIf="dataItem.postedByIcon !== null" />
                                    {{dataItem.postedBy}}
                                </span>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="jobSearchString" title="Job Role" sortable="true" width="200">
                            <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                                let-filterService="filterService">
                                <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [extra]="false"
                                    operator="contains" [filterService]="filterService">
                                    <kendo-filter-contains-operator></kendo-filter-contains-operator>
                                    <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                                    <kendo-filter-eq-operator></kendo-filter-eq-operator>
                                </kendo-grid-string-filter-menu>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid>
                </div>
            </div>
        </div>
    </div>