.customInputField::placeholder {
  padding-left: 10px;
}
.customInputField {
  background-color: black;
  color: white;
  height: 38px;
  border-bottom: 1px solid #464646;
  padding-left: 15px;
}
.k-grid tr.submittedClass {
  background-color: #b5ead7 !important;
}
.k-grid tr.notrelaventClass {
  background-color: #f7f3e7 !important;
}

.prefex-brief {
  margin-right: 8px;
}
.clicktocopy {
  height: 18px;
  width: 18px;
  cursor: pointer;
}
.companylogo {
  height: 18px;
  width: 18px;
  cursor: pointer;
}
.Dropdownbtn {
  padding: 0px 3px;
  border-radius: 0px;
  width: 180px;
  border-radius: 3px;
  margin-right: 0px;
  border: 1px solid #e8f1f2 !important;
  &:hover,
  &:active,
  &:visited,
  &:focus {
    background-color: #e8f1f2 !important;
  }
}

.lable_header {
  vertical-align: top;
  font-size: 12px;
  color: #0a6a80;
  text-align: left;
  width: 70px;
}
.valuecount {
  font-size: 20px;
  color: #0b748c;
  line-height: normal;
  width: 100px;
  font-weight: bolder;
}
.subheading {
  font-size: 12px;
  color: #adadad;
  line-height: normal;
  width: 100px;
}
.mainTable {
  padding: 3px 0px;
  width: 100%;
}
.innertable tr td {
  padding: 5px;
}
.dropdown-menu {
  padding: 10px;
  width: 220px;
  height: auto;
  max-height: 350px;
  overflow-y: scroll;
  h5 {
    font-size: 12px;
    padding: 3px;
    text-align: center;
    color: #13292d;
    font-weight: bold;
  }
}
.mainTable {
  empty-cells: show;
}
.subs,
.Rank {
  width: 100px;
  text-align: center !important;
}
.name {
  width: 250px;
}
/* width */
.dropdown-menu::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.dropdown-menu::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
.dropdown-menu::-webkit-scrollbar-thumb {
  background: #0a6a80;
  border-radius: 15px;
}

/* Handle on hover */
.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #0a6a80;
  border-radius: 15px;
}

.customtable {
  width: 100%;
  border-collapse: collapse;
  word-break: break-words;
  font-size: 12px !important;
  th {
    font-size: 12px;
    color: #13292d;
  }
}

.customtable td,
.customtable th {
  // border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
}

.customtable {
  .colorsub {
    color: #0a6a80;
  }
}
.pastelred{
  color:#ff6961;
}
.orangecolor{
  color:#ff6000;
}
.greencolor{
  color:#008000;
}

.customtable tr:nth-child(even) {
  background-color: #e8f1f2;
}

.fontsize18{
  font-size: 18px;
  font-weight: 500;
}