.example-full-width{
    width: 100%;
}
.uppercase{
    text-transform: uppercase;
}
.title_clr{
    color:#ff6000;
    font-weight: 500;
}
.circleForIcon{
    border-radius: 50%;
    border:1px solid #000;
}
.perfectScroll_custom{
    max-height: 200px;
    overflow-x: hidden;
}
.btn-custom{
    margin-bottom: 0px;
}
:host/deep/ .mat-select-panel    {
    margin-top: 0px !important;
    margin-left: 0px !important;
}
:host/deep/ .customLableAlign{
    .mat-form-field-label{
        margin-top: 5px !important;
    }
}