<div class="container-fluid">
    <div class="Search-from">
        <div class="row align-items-center justify-content-center mb-10">
            <div class="col-md-12 allJobsLabel">
                <h4>JOB ROLES</h4>
            </div>
            <div class="col-md-3 text-left">
                <button type="button" class="btn  btn-md  text-white btn-search" (click)="OpenEditJobRole(null)">
                    <span class="icon-search icon"></span>New Job Role</button>
            </div>
        </div>
    </div>
    <div class="row mb-10">
        <div class="col-md-12">
            <div class="table-responsive" style="width: 90%; padding-left: 100px;">
                <kendo-grid #grid id="GridID" [kendoGridBinding]="gridData"
                    class="CustomGrid GridScroll KendoCustomScroll" filterable="menu" [filter]="filter"
                    (filterChange)="filterChange($event)" [skip]="state.skip" [sort]="state.sort" [pageSize]="pageSize"
                    (pageChange)="pageChange($event)" (dataStateChange)="dataStateChange($event)" [reorderable]="true"
                    [resizable]="true" [sortable]="{allowUnsort: true}" [pageable]="false">
                    <kendo-grid-column field="jobRoleId" title="No." sortable="false" width="50" filterable="false">
                        <ng-template kendoGridCellTemplate let-dataItem let-i="rowIndex">
                            {{i+1}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="jobRole" title="Job Role" sortable="true" width="300">
                        <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
                            let-filterService="filterService">
                            <kendo-grid-string-filter-menu [column]="column" [filter]="filter" [extra]="false"
                                operator="contains" [filterService]="filterService">
                                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                                <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                                <kendo-filter-eq-operator></kendo-filter-eq-operator>
                            </kendo-grid-string-filter-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="actions" title="Actions" width="100" filterable="false"
                        [sortable]="false">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="datatableactions">
                                <button type="button" (click)="OpenEditJobRole(dataItem.jobRoleId)"
                                    class="cu_but_icon cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="21" viewBox="0 0 24 24" width="21"
                                        class="text-yellow circleForIcon">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" />
                                    </svg>
                                </button>
                                <button type="button" (click)="delete(dataItem.jobRoleId)"
                                    class="cu_but_icon cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="21" viewBox="0 0 24 24" width="21"
                                        class="text-danger cursor-pointer circleForIcon">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                                    </svg>
                                </button>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 text-right" style="width: 90%;">
                <button type="button" class="btn btn-danger buttoncolor cursor-pointer mb-0">
                    Cancel
                </button>
                <button type="button" class="btn btn-success buttoncolor cursor-pointer mb-0">
                    Save
                </button>
            </div>
        </div>
    </div> -->